[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-groq = "*"
langchain-community = "*"
markdown = "*"
bs4 = "*"
fastapi = "*"
langserve = {extras = ["all"], version = "*"}
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
